{% extends 'home.html' %}

{% block title %} Weapon Momentos {% endblock %}

{% block content %}
<center>
    <h1 style="color:white">Welcome to the momentos page</h1>
</center>
<div>
    <center>
        <div class="col">
            <div class="card h-100">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Deliverance Gambit Momento</h5>
              </div>
            </div>
          </div>
        <div class="col">
            <div class="card h-100">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Deliverance Trials of Osirus Momento</h5>
              </div>
            </div>
          </div>
        <div class="col">
            <div class="card h-100">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Deliverance Nightfall Momento</h5>
              </div>
            </div>
          </div>
    </center>
</div>
<br>
<div>
    <center>
        <div class="col">
            <div class="card h-100">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Deliverance Gambit Momento</h5>
              </div>
            </div>
          </div>
        <div class="col">
            <div class="card h-100">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Deliverance Trials of Osirus Momento</h5>
              </div>
            </div>
          </div>
        <div class="col">
            <div class="card h-100">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Deliverance Nightfall Momento</h5>
              </div>
            </div>
          </div>
    </center>
</div>
{% endblock %}